<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utils.ListenerHelper"/>
				
	</listeners>

	
  <test thread-count="5" name="Login Test">
    <classes>
      <class name="pageTests.LoginPageTests"/>
      <class name="pageTests.RegisterPageTests"/>
      <class name="testConfig.BaseTest"/>
    </classes>
  </test> 
</suite> 
